<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="entityDeveloper" type="System.Configuration.ConfigurationSection">
      <section name="providers" type="EntityDeveloper.Configuration.EdConfigurationSection, EntityDeveloper.Common" />
      <section name="DevartLinqConnect" type="EntityDeveloper.Configuration.ProviderConfigurationSection, EntityDeveloper.Common" />
    </sectionGroup>
  </configSections>
  <entityDeveloper>
    <providers>
      <database>
        <add name="System.Data.SqlClient" type="EntityDeveloper.SQLClientVendor, EntityDeveloper.SqlServer" />
        <add name="System.Data.SqlServerCe.3.5" type="EntityDeveloper.SQLClientCeVendor, EntityDeveloper.SqlServer" />
        <add name="System.Data.SqlServerCe.4.0" type="EntityDeveloper.SQLClientCe40Vendor, EntityDeveloper.SqlServer" />
        <add name="Devart.Data.MySql" type="EntityDeveloper.MySQLVendor, EntityDeveloper" />
        <add name="Devart.Data.Oracle" type="EntityDeveloper.OracleVendor, EntityDeveloper" />
        <add name="Devart.Data.PostgreSql" type="EntityDeveloper.PgSQLVendor, EntityDeveloper" />
        <add name="Devart.Data.SQLite" type="EntityDeveloper.SQLiteVendor, EntityDeveloper" />
      </database>
      <orm>
        <add name="Devart LinqConnect" type="EntityDeveloper.Linq.LinqConnectModelDescriptor, EntityDeveloper.Orm.LinqConnect" />
      </orm>
    </providers>
    <DevartLinqConnect>
      <providers>
        <add name="Devart.Data.MySql" />
        <add name="Devart.Data.Oracle" />
        <add name="Devart.Data.PostgreSql" />
        <add name="Devart.Data.SQLite" />
        <add name="System.Data.SqlClient" />
<add name="System.Data.SqlServerCe.3.5" />
<add name="System.Data.SqlServerCe.4.0" /></providers>
    </DevartLinqConnect>
  </entityDeveloper>
</configuration>